<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="titlebar">
      {{ this.title }}
      <mat-icon class="title-icon">navigate_next</mat-icon>
      {{ this.location }}
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]=55>
    <mat-sidenav #snav mode="over" fixedInViewport="true" fixedTopGap="55">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <div class="nav-icon">
            <mat-icon>dashboard</mat-icon>
          </div>
          <div class="nav-text">
            Dashboard
          </div>
        </a>
        <a mat-list-item routerLink="/scans">
          <div class="nav-icon">
            <mat-icon>compass_calibration</mat-icon>
          </div>
          <div class="nav-text">
            Scans
          </div>
        </a>
        <a mat-list-item routerLink="/profiles">
          <div class="nav-icon">
            <mat-icon>tune</mat-icon>
          </div>
          <div class="nav-text">
            Profiles
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <app-messages></app-messages> -->
